<!-- <div class="container-fluid"> -->
  <div class="body">
    <div>
      <h4> Manage admins</h4>
    </div>
    <div class="container-fluid">
      <form [formGroup]="adminForm">

        <nav class="navbar" navbar-light bg-primary
          style="background: linear-gradient(133.87deg,#dc3545 0%,#1d4fa2 50%,#c5198c 100%); height: 60px ;" >


          <h1 style="padding-left: 10px;"> <input class="form-control me-2" type="text" name="searchKey" placeholder="Search" aria-label="Search"
            formControlName="searchKey"
            (keyup)="filter(adminForm.value.searchKey)">
          </h1>
          <div class="d-flex">

            <h2  style="padding-right: 10px;"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
              data-bs-whatever="@mdo" (click)="resetForm()">
              <div>Add New</div>
            </button></h2>




            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Admin Details</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">


                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Name</label>
                      <input type="text" class="form-control" placeholder=" Name" name="name" formControlName="name"
                        required minlength="5" maxlength="30" pattern="[a-zA-Z ]*">

                    </div>
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Email</label>
                      <input type="text" class="form-control" name="email" formControlName="email" required minlength="2"
                        maxlength="50" pattern="[0-9]*">
                    </div>

                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Password</label>
                      <input type="text" class="form-control" name="password" formControlName="password" required
                        minlength="2" maxlength="10" pattern="[0-9]*">
                    </div>


                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">father's Name</label>
                      <input type="text" class="form-control" name="fname" formControlName="fname" required minlength="2"
                        maxlength="10" pattern="[0-9]*">
                    </div>


                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Region</label>
                      <input type="text" class="form-control" name="region" formControlName="region" required
                        minlength="2" maxlength="10" pattern="[0-9]*">
                    </div>


                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Contact No.</label>
                      <input type="text" class="form-control" name="contact" formControlName="contact" required
                        minlength="2" maxlength="10" pattern="[0-9]*">
                    </div>


                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">State</label>
                      <input type="text" class="form-control" name="state" formControlName="state" required minlength="2"
                        maxlength="10" pattern="[0-9]*">
                    </div>



                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">District</label>
                      <input type="text" class="form-control" name="district" formControlName="district">

                    </div>


                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Address</label>
                      <input type="text" placeholder="address" class="form-control" name="Address"
                        formControlName="address">

                    </div>

                  </div>

                  <div class="mb-3">
                    <button style="float: right; margin-right: 30px;" type="button" class="btn btn-primary"
                      data-bs-dismiss="modal"> <i class="fa-solid fa-xmark"></i>
                      Cancle</button>
                    <button style="float: right; margin-right: 30px;" (click)="addNewUser()"  type="submit" class="btn btn-primary"><i
                        class="fa-solid fa-check"></i>Save</button>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </nav>
      </form>


      <table >
        <tr>

          <th class="col-1">Id</th>
          <th class="col-1"></th>
          <th class="col-2"> Name</th>
          <th class="col-2">Father's Name</th>
          <th class="col-1">village/District</th>
          <th class="col-2">Phone</th>
          <th class="col-1">Region</th>
          <th class="col-1">Active</th>
          <th class="col-1">Action</th>

        </tr>

        <tr class="clom" *ngFor="let user of allusers?.data ; let i= index">

          <td>{{i+1}}</td>
          <td><img src="../../../../assets/img/profiles/tansingh-ji.jpg" alt=""></td>
          <td class="name">{{user.name}}</td>
          <td>{{user.fatherName}}</td>
          <td>{{user.city}}</td>
          <td>{{user.mobile}}</td>
          <td>{{user.region}}</td>
          <td>{{user.active}}</td>
          <td>{{user.action}}</td>


          <td> <div class="edit" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="editUser(i)">
              <i class="fa-solid fa-pen"></i>
          </div></td>
          <td> <div class="delete" data-bs-target="#deleteModal" data-bs-toggle="modal" (click)="selectedUserId=user._id"><i class="fa-solid fa-trash"></i></div>
          </td>
            
        </tr>
      </table>

    </div>
  </div>

 <!-- delete pop up -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm</h5>
                <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p> <span><i class="fa-solid fa-triangle-exclamation"></i></span>
                    Are you sure you want to delete the selected book?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    <i class="fa-solid fa-xmark"></i> No</button>
                <button  (click)="deleteUser()" type="submit" class="btn btn-primary" data-bs-dismiss="modal">
                    <i class="fa-solid fa-check"></i> Yes</button>
            </div>
        </div>
    </div>
</div>
