h4{
  text-align: start;
  background-color: #e5e5e5;
  color: #000000e6;
   padding: 5px 15px ;
  font-size: 20px;
  height: 42px;

}

table{
  font-size: medium;
  background-color: #f8f9fa;
  padding: 4px;
  margin: 4px 0px;
  // justify-content: center;
  width: 100%;

}
th:hover{
  background-color: lightgray;
  cursor: pointer;

}
.clom:hover{
  background-color: lightgrey;
}

th,td{
  border-bottom: 2px solid #e5e5e5;
}

th{
  padding: 10px;
  background-color: #e5e5e5;
}

tr,th{
  margin-top: px;
}
.edit{
  background-color: #689f38;
  margin: 0px 15px;
  padding: 12px;
  cursor: pointer;
  border-radius: 50%;
  color: white;

}
.delete{
  background-color: #d32f2f;
  margin: 0px 15px;
  padding: 12px;
  cursor: pointer;
  border-radius: 50%;
  color: white;

}

td{
  padding: 15px;
}
.name{
  color: #de651a;
}

body{
  background-color: white;
}

