<div class="card">
    <div class="card-header">

        <h4 class="card-title">Manage Address </h4>

    </div>
    <div class="card">

        <div class="card-header">

            <h2 class="card-title">Search Address </h2>

        </div>

        <div class="card-body">

            <form novalidate="" class="ng-untouched ng-pristine ng-valid">

                <div class="row">

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-3">

                                <div class="form-group">

                                    <label>Father`s Name:</label>

                                    <input type="text" class="form-control">

                                </div>
                            </div>

                            <div class="col-md-3">

                                <div class="form-group">

                                    <label>Father`s Name:</label>

                                    <input type="text" class="form-control">

                                </div>
                            </div>

                            <div class="col-md-3">

                                <div class="form-group">

                                    <label>Father`s Name:</label>

                                    <input type="text" class="form-control">

                                </div>
                            </div>
                            <div class="col-md-3">

                                <div class="form-group">

                                    <label>Father`s Name:</label>

                                    <input type="text" class="form-control">

                                </div>
                            </div>

                            <div class="col-md-3">

                                <div class="form-group">

                                    <label>Mobile:</label>

                                    <input type="text" class="form-control">
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">


                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6">


                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12"></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">

                            <div class="col-md-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                        </div>
                        <div class="row"></div>
                        <div class="row">

                            <div class="col-md-6"></div>

                        </div>
                    </div>

                </div>
            </form>
            <div class="row">

                <div class="col-md-6 text-left"><button class="btn btn-primary">Back</button></div>
                <div class="col-md-6 text-right"><button type="submit" class="btn btn-primary">Submit</button>

                </div>

            </div>

        </div>

    </div>