<p>mngaddress works!</p>

<div class="container-fluid d-grid gap-0" >

<div class="heading" style="background-color: #e5e5e5;">
    
   

    <p>
        <mat-toolbar>
          <span> <a class="navbar-brand" style="pointer-events: auto; font-size: xx-large;">Manage Plan </a>
          </span>
        </mat-toolbar>
      </p>

    </div>
<div class="card">
<p>
    <mat-toolbar class="card-header">
      <span  class="w-25 p-3"> <a class="navbar-brand" style="pointer-events: auto;">Search Address </a>
      </span>
    </mat-toolbar>
  </p>

  <div class="card-body">

    <div class="col-mb-3">
        <label for="city" class="label">Admin</label>

        <button mat-button color="warn">Warn</button>
       
    </div>

  </div>

  </div>


   


</div>