<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">श्री क्षत्रिय युवक संघ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <i class="fa-regular fa-clock"></i> Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Subscribers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Manage Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Subscribe/Renew</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Manage Address</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Plans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="#">Books</a>
                    </li>
                    <li class="nav-item dropdown show">
                        <a class="drop nav-link top-menu dropdown-toggle" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false"> Camp Management
                        </a>
                        <div class="menu dropdown-menu">
                            <a class="dropdown-item" routerLink="#">Camp Master</a>
                            <a class="dropdown-item" routerLink="#">Batch Master</a>
                            <a class="dropdown-item" href="file:///D:/New%20folder/button.html">Volunteers
                                Master</a>
                            <a class="dropdown-item" routerLink="#">Member Master</a>
                            <a class="dropdown-item" routerLink="#">Add Member In Camp</a>
                            <a class="dropdown-item" routerLink="#">Camp Type</a>
                            <a class="dropdown-item" routerLink="#" style="border: none !important;">Participants
                                Type</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" id="profile">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img class="avatar-img rounded-circle"
                                src="http://103.224.246.103:3004/uploads/61ddac3a0dd0d864990122f7/1665770094839WhatsApp%20Image%202022-10-01%20at%209.44.05%20PM.jpeg"
                                width="30px">
                        </a>
                        <div class="dropdown-menu">
                            <a class="avatar avatar-sm dropdown-item">
                                <img alt="User Image" class="avatar-img rounded-circle"
                                    src="http://103.224.246.103:3004/uploads/61ddac3a0dd0d864990122f7/1665770094839WhatsApp Image 2022-10-01 at 9.44.05 PM.jpeg"
                                    width="28px"> Administrator
                            </a>
                            <a routerlink="profile" class="dropdown-item" href="#">My Profile</a>
                            <a class="dropdown-item">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>