<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">श्री क्षत्रिय युवक संघ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" routerLink="./dashboard" routerLinkActive="chalu"
                            [routerLinkActiveOptions]="{exact : true}">
                            <i class="fa-regular fa-clock"></i> Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="./subscriber" routerLinkActive="chalu"
                            [routerLinkActiveOptions]="{exact : true}">Subscribers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="./admin" routerLinkActive="chalu"
                            [routerLinkActiveOptions]="{exact : true}">Manage Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="./renew" routerLinkActive="chalu"
                            [routerLinkActiveOptions]="{exact : true}">Subscribe/Renew</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="./address" routerLinkActive="chalu"
                            [routerLinkActiveOptions]="{exact : true}">Manage Address</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="./plans" routerLinkActive="chalu"
                            [routerLinkActiveOptions]="{exact : true}">Plans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="./books" routerLinkActive="chalu"
                            [routerLinkActiveOptions]="{exact : true}">Books</a>
                    </li>
                    <li class="nav-item dropdown show">
                        <a class="drop nav-link top-menu dropdown-toggle" role="button" data-bs-toggle="dropdown"  id="dropdownMenuLink"
                            aria-expanded="false"> Camp Management
                        </a>
                        <div class="menu dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" routerLink="#" routerLinkActive="in_chalu"
                                [routerLinkActiveOptions]="{exact : true}">Camp Master</a>
                            <a class="dropdown-item" routerLink="./manage-camp/batchMaster" routerLinkActive="in_chalu"
                                [routerLinkActiveOptions]="{exact : true}">Batch Master</a>
                            <a class="dropdown-item" routerLink="./manage-camp/voluteer-master" routerLinkActive="in_chalu"
                                [routerLinkActiveOptions]="{exact : true}">Volunteers
                                Master</a>
                            <a class="dropdown-item" routerLink="#" routerLinkActive="in_chalu"
                                [routerLinkActiveOptions]="{exact : true}">Member Master</a>
                            <a class="dropdown-item" routerLink="#" routerLinkActive="in_chalu"
                                [routerLinkActiveOptions]="{exact : true}">Add Member In Camp</a>
                            <a class="dropdown-item" routerLink="./manage-camp/camp-type" routerLinkActive="in_chalu"
                                [routerLinkActiveOptions]="{exact : true}">Camp Type</a>
                            <a class="dropdown-item" routerLink="./manage-camp/participantsType"
                                style="border: none !important;" routerLinkActive="in_chalu"
                                [routerLinkActiveOptions]="{exact : true}">Participants
                                Type</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" id="profile">
                        <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img class="avatar-img rounded-circle"
                                src="http://103.224.246.103:3004/uploads/61ddac3a0dd0d864990122f7/1665770094839WhatsApp%20Image%202022-10-01%20at%209.44.05%20PM.jpeg"
                                width="30px">
                        </a>
                        <div class="dropdown-menu">
                            <a class="avatar avatar-sm dropdown-item">
                                <img alt="User Image" class="avatar-img rounded-circle"
                                    src="http://103.224.246.103:3004/uploads/61ddac3a0dd0d864990122f7/1665770094839WhatsApp Image 2022-10-01 at 9.44.05 PM.jpeg"
                                    width="28px"> Administrator
                            </a>
                            <a routerlink="profile" class="dropdown-item" href="#">My Profile</a>
                            <a class="dropdown-item">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>