<div class="row" id="subscribe">
    Participants Type
</div>

<div id="admin">
    <div id="search">
        <nav class="search_navbar">
            <button type="button" class="btn btn-primary" (click)="resetForm()" data-bs-toggle="modal"
                data-bs-target="#exampleModal" data-bs-whatever="@mdo">Add New</button>
        </nav>
    </div>
    <div id="table">
        <table class="table table-hover table-sortable">
            <thead>
                <tr>
                    <th class="col-md-1" id="name" scope="col" (click)="sortBy()">#</th>
                    <th class="col-md-2" scope="col" (click)="sortBy()">Name</th>
                    <th class="col-md-2" scope="col" (click)="sortBy()">Created Date</th>
                    <th class="col-md-2" scope="col" (click)="sortBy()">Updated Date</th>
                    <th class="col-md-2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let member of allParticipantsType?.data ; let i = index ">
                    <td>{{i+1}}</td>
                    <td>{{member.description}}</td>
                    <td>{{member.createDate | date}}</td>
                    <td>{{member.updateDate | date}}</td>
                    <td id="media_special">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            (click)="editParticipantsType(i)"
                            style="border: none; color: white; background-color: green;">
                            <i class="fa-solid fa-pen"></i></button>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal"
                            (click)="selectedParticipantsTypeId=member._id"
                            style="border: none; color: white; background-color: red;">
                            <i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="total_camp">In total there are {{allParticipantsType?.data.length}} books.</div>

    </div>

    <form [formGroup]="participantsTypeForm">
        <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 style="margin: 0 !important; padding: 5px 8px !important; font-size: 22px !important;"
                            class="modal-title fs-5" id="exampleModalLabel">Type Details</h1>
                        <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="col-form-label">Name</label>
                            <input type="text" class="form-control" name="description" formControlName="description"
                                placeholder="Enter Name" maxlength="30" pattern="[a-zA-Z ]*"
                                [ngClass]="{ 'is-valid':form['description'].valid}"
                                [ngClass]="{ 'is-invalid':form['description'].invalid && form['description'].touched}">
                        </div>
                    </div>
                    <div class="modal-footer mb-3">
                        <button type="submit" data-bs-dismiss="modal" (click)="addNewParticipantsType()"
                            class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- //////////////// delete popup -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm</h5>
                    <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p> <span><i class="fa-solid fa-triangle-exclamation"></i></span>
                        Are you sure you want to delete the selected book?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                        <i class="fa-solid fa-xmark"></i> No</button>
                    <button (click)="deleteParticipantsType()" type="submit" class="btn btn-primary"
                        data-bs-dismiss="modal">
                        <i class="fa-solid fa-check"></i> Yes</button>
                </div>
            </div>
        </div>
    </div>



</div>